[Unit]
Description=calibre content server
#this can be anything you want
After=After=calibre-web remote-fs.target
#this prevents calibre from starting until after network shares are mounted. If you are storing everything locally, change remote to local

[Service]
Type=simple
User={{ user }}
Group={{ user }}
#previous two lines should reflect the name of the user and group you set above
ExecStart=/usr/bin/calibre-server /mnt/librarian --enable-auth --userdb="/home/librarian/.config/calibre/server-users.sqlite"

Restart=on-failure
#If it crashes or has certain problems, it will try to restart
RestartSec=30
#Tunes restarting of the service

[Install]
WantedBy=multi-user.target