[Unit]
Description=Calibre-Web
After=remote-fs.target

[Service]
Type=simple
User={{ user }}
Group={{ user }}
ExecStart=/usr/local/bin/cps
WorkingDirectory=/home/librarian

[Install]
WantedBy=multi-user.target