# See the README for more information: https://github.com/pocket-id/pocket-id?tab=readme-ov-file#environment-variables
APP_URL=https://auth.meadows.page
TRUST_PROXY=true
MAXMIND_LICENSE_KEY=
UI_CONFIG_DISABLED=true
APP_NAME="Meadows Auth"
PUID={{ app_user.uid }}
PGID={{ app_group.gid }}